.article--header--wrapper > h1 {
    display: flex;
    position: relative;
    margin: 0 auto 0 0;
    max-width: 1200px;
    align-items: center;
    padding: 0 300px;
    width: 100%;
}

.article--header--wrapper > p{
    padding-left:300px;
}



.pageWrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 25px;
}

h1{
    font-size: 64px;
}


h2{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 10px;
    position: relative;
}

.articleCard {
    border: 1.25px solid black;
    margin: 45px 0px;
    display: flex;
}

.articleCard-image{
    display: flex;
    flex-basis: 30%;
}

.articleCard--text{
    flex-basis: 100%;
    margin-left: 90px;
}

.blurb{
    font-size: 14px;
    margin-top: 15px;
    position: relative;
}

.date{
    font-size: 15px;
    margin-left: 7.5px;
    margin-top: 5px;
    position: relative;
    
}


.articleCard--image{
    display: flex;
    background-color: grey;
    height: 225px;
    margin: 12.5px;
    max-width: 300px;
    width:100%;
}

.link{
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative
}